.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #FFF;
  height: 60px;
  padding: 10px 0px 0px 0px;
  color: #39A6BD;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
