.App-logo{
  float: left;
  margin
  -left: 1em;
  margin-top: 0.8em;
}

.ui.segment{
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.ui.segment.viewAccount{
  padding-top : 0px !important;
}

.ui.header{
  margin-top: -3.5em !important;
  margin-bottom: 1.5em;
}

.ui.header.viewAccount{
  margin-top: -1.5em !important;
  margin-bottom: 0px !important;
}

.ui.form {
  width:100%;
}

.ui.form .twelve.wide.field {
  margin-top: 2em;
  width:100% !important;
}

.twelve.wide.field label{
  float:left;
}

.deleteImage{
  line-height: 1em;
  text-align: left;
}

.deleteImage label{
  display: inline !important;
  margin-left: 10px !important;
  float: none !important;
}

.field.twelve.wide #name{
  width: 100%;
}

.avatar div{
  width: 100%;
}

.avatar button{
  border : 0px !important;
}

.avatar>div>div>div:first-of-type {
  max-width:120px;
  max-height:120px;
  margin-right: auto;
  margin-left: auto;
}

.avatar>div>div>div>img {
  width:120px;
  height:120px;
  border-radius:50%;
  margin-right: auto;
  margin-left: auto;
}

.buttons{
  margin-top: 35px !important;
}

.nameSound{
  border:0px;
  border-radius:50%;
}

.nameSound:focus{
  outline:none;
}

.nameSound+label{
  float : none !important;
}

.amplify-nav-button{
  margin-top:-6px !important;
}

.amplify-nav-item{
  margin-top:-18px !important;
  vertical-align: middle;
}

.backToAcc{
  padding: 6px !important;
  height: 50px;
}

.intro{
  text-align : left;
  padding-left:1.2em;
}

.field.twelve.wide.link{
  margin-top:15em !important;
}

.btnNext{
  max-width:100%;
  opacity:1;
}

.btnNext:disabled
{
    opacity:0.5;
}


.btnSubmit{
  width: 100%;
  opacity: 1;
  background-color: #20a5be;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
}

.btnSubmit:focus{
  outline : none;
}

.btnSubmit:disabled{
  opacity: 0.5;
}

.btnSubmit.link{
  border:0;
  background-color:white;
  color: #56bace;
  font-size: 13px;
}

.ui.buttons{
  width:100%;
  height:45px;
  font-size:15px;
}

.ui.buttons.medium{
  margin-top:8.5em !important;
}

pre{
  vertical-align:left !important;
  text-align: left !important;
}

.ui.members{
  overflow:hidden;
  height:350px;
}

.ui.members.inner{
  overflow-y:scroll;
  margin-right:-20px;
  padding-right:20px;
}

.member{
  padding-bottom: 30px;
}


.ui.buttons.caringCircle{
  margin-top:10px !important;
}

.content > .ui.header {
  margin-top : -5.4em !important;
  margin-bottom : 3em !important;
}

.contentData {
  width: 100%;
  text-align: left;
  margin-left : 20px;
}

.text{
  font-size :13px;
}

.member .avatar img{
  width:65px;
  height:65px;
}

.devtrial{
  height: 500px;
}

.div1{
  height: 70%;
  outline: 1px solid blue;
  overflow: hidden;
}

.div2{
  height:30%;
  background-color: #f7f7f7;
  outline: 1px solid black;
}

.div1inner{
  background-color: #C1D2D2;
  height: 1000px;
  overflow: scroll;
}

.fileUpload{
  display:none;
}

.album img{
  max-width:100%;
  margin-bottom:50px;
}

.ui.buttons.myPictures{
  margin-top: 1em !important;
}

.hide{
  display : none;
}

.ui.positive.button {
  background-color: #20a5be
}

.ui.buttons .or{
  top: 0.4em;
}

.centralContainer{
  height: 72vh;
}

.tableShape{
  display:table;
}

.centralContent{
  height:86%;
  overflow: hidden;
}

.centralContentInner{
  height: 100%;
  overflow-y: scroll;
  margin-right: -20px;
  padding-right: 20px;
}

.leftSection{
  float:left;
  margin-top: 8px;
}

.rightSection{
  float:right;
  margin-top: 8px;
}

.leftSection img, .leftSection input{
  margin-right : 20px;
  outline: none;
}

.noContent{
  height: 100%;
  /*outline: 1px solid black;*/
  vertical-align: middle;
  display:table-cell;
  text-align:left;
  padding-left:60px;
  padding-right:60px;
}

.msgInput{
  width:84% !important;
  float:left;
}

.btnSend{
  width:14%;
  float:right;
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  border-radius:4px;
}

.eventsItem{
  text-align: left;
  margin-bottom: 12px;
  font-size: 13px;
  color: #5e5e5e;
}

video {
  width:80%;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:30px;
}

.videoFullWidth{
  width:100%;
  margin:0px !important;
}

.timelineDtlContent{
  height: 68vh;
  background-color: black;
  padding-top: 50px;
}